body {
    background-image: url(../img/prism.png);
}

.logo {
    font-family: 'Peralta', cursive;
}

.logo a {
    color: rgba(255,255,255,.9);
}

.logo a:hover, .logoa:active{
    text-decoration:none;
}
